/* Reset y tipografía básica */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent: #3b3b3b;
  --max-width: 1200px;
}

/* === HEADER === */

.site-header {
  background: #e845c791;
  border-bottom: 1px solid #da3ae288;
}

.header-inner {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background: #dad4d4;
  padding: 12px 18px;
  border-radius: 6px;
  font-weight: 700;

  background-image: url("./imagenes/paint-brush-logo-260nw-527767825.webp");
  background-size: cover;
  background-position: center;
  color: transparent;
}

.main-nav {
  display: flex;
  gap: 28px;
}

.main-nav a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 600;
  padding: 6px 8px;
}

.profile-circle {
  width: 56px;
  height: 56px;
  background: #ddd;
  border-radius: 80%;
  background-image: url("./imagenes/images.jpeg");
  background-size: cover;
  background-position: center;
}
